---
import Layout from '../layouts/Layout.astro';
import Offers from '../components/Offers.jsx'
import { Brands } from '../components/brands/Brands.jsx'
import '../styles/global.css';
import "../../components/css/style_price.css";
const structuredData = {}
----
<Layout title="Comprehensive Appliance Repair Cost Guide - All Brands" description="Navigate appliance repair costs with our comprehensive guide. Understand pricing factors, compare repair vs. replacement costs. Call: (323) 870-4790">
<div id="maincontent">
 
</div>
 <Tabs client:load/>
 <Brands client:load/>
</Layout>